{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page!</h1>
                <p>Dynamic data: {{index .StringMap "first"}}</p>
                <p>CSRFToken: {{.CSRFToken}}</p>
            </div>
        </div>
    </div>
{{end}}